@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');ion-toolbar{
  height: 300px;
}

ion-content{
  margin: 0;
  padding: 0;
}

ion-header{
  display: flex;
  flex-wrap: wrap;

}
.card-cartao {
  border-radius: 20px;
  height: 140px;
  width: 460px;
  color: white;
  margin: 8px 0 0 20px;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}

h1{
  font-size: 22px;
  margin-left: 24px;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  margin-top: 40px;
  

}

.p-texto{
  font-size: 18px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  margin: 0;
  position: relative;
  align-self: flex-end;
  
}

.p-texto-continue{
  font-size: 12px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  margin: 0;
  position: relative;
  color: rgb(253, 164, 0);
  align-self:flex-start;
}

.roxo{
  color: rgb(53, 0, 114);
}
 
.icon{
  width: 22px;
}









